p {
  font-family: Roboto, Arial;
}
.searchbox {
  font-size: 18px;
  display: block;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 30px;
}

.thumbnail {
  width: 100%;
  margin-bottom: 10px;
  /*display: block;*/
}

.video-title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 20px;
}

.channel,
.details {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(96, 96, 96);
}

.video-preview {
  /*width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;*/
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture {
  /*display: inline-block;
  vertical-align: top;
  width: 50px;*/
  
}
.video-info {
  /*display: inline-block;
  width: 200px;*/
}
.profile-picture {
  width: 80%;
  border-radius: 25px;
}

